<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span></span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
   
            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="zmdi zmdi-landscape inline-block mr-10 font-16; " pull-right">Dashboard</a>

        </li>
        
        <li>
            <a asp-area="" asp-controller="AdminReports" asp-action="Index" class="zmdi zmdi-subway inline-block mr-10 font-16; " pull-right">Admin Reports</a>
        </li>
      
    </ul>
</div>
<!-- /Left Sidebar Menu -->