<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span></span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#marketplace_dr"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        
        <li></li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#organization_dr"><div class="pull-left"><i class="zmdi zmdi-nature-people mr-20"></i><span class="right-nav-text">Admin Reports</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="organization_dr" class="collapse collapse-level-1">

            </ul>
        </li>
      
    </ul>
</div>
<!-- /Left Sidebar Menu -->