<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span></span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>

            <a asp-area="" asp-controller="Dashboard" asp-action="Index1" class="zmdi zmdi-landscape inline-block mr-10 font-16">Dashboard</a>
        </li>
        
        <li>

            <a asp-area="" asp-controller="Project" asp-action="Index" class="zmdi zmdi-nature-people inline-block mr-10 font-16; " pull-right">Projects</a>

            
        </li>

        
        <li>

            <a asp-area="" asp-controller="Reports" asp-action="Index" class="zmdi zmdi-subway inline-block mr-10 font-16; " pull-right">Reports</a>

        </li>
        
        <li>
            <a asp-area="" asp-controller="DocumentRepository" asp-action="Index" class="zmdi zmdi-collection-folder-image inline-block mr-10 font-16; "pull-right">Document Repository</a>

        </li>
        
      

      
    </ul>
</div>
<!-- /Left Sidebar Menu -->