<!-- Left Sidebar Menu -->
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span></span>
            <i class="zmdi zmdi-more"></i>
        </li>



        @*@if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
        {*@
            <li>
                <a asp-controller="Home" asp-action="Index"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>

            <li>
                <a asp-controller="Admin" asp-action="Projects"><div class="pull-left"><i class="zmdi zmdi-nature-people mr-20"></i><span class="right-nav-text">Projects</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

            </li>

            <li>
                <a asp-controller="Admin" asp-action="Report"><div class="pull-left"><i class="zmdi zmdi-subway mr-20"></i><span class="right-nav-text">Reports</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>

            <li>
                <a asp-controller="Admin" asp-action="Docs"><div class="pull-left"><i class="zmdi zmdi-collection-folder-image mr-20"></i><span class="right-nav-text">Document Repository</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>
            @*<li>
                <a asp-controller="Admin" asp-action="Methodology"><div class="pull-left"><i class="zmdi zmdi-collection-folder-image mr-20"></i><span class="right-nav-text">Methodologies</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>*@
        @*}*@

        @if ((await AuthorizationService.AuthorizeAsync(User, "PM")).Succeeded)
        {
            @*<li>

                <a asp-controller="ProjectManager" asp-action="Index"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">PM Dashboard</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>*@

            @*<li>
                <a asp-controller="ProjectManager" asp-action="AssignedProjects"><div class="pull-left"><i class="zmdi zmdi-nature-people mr-20"></i><span class="right-nav-text">Assigned Projects</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

            </li>

            <li>
                <a asp-controller="ProjectManager" asp-action="PM Reports"><div class="pull-left"><i class="zmdi zmdi-subway mr-20"></i><span class="right-nav-text">PM Reports</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>*@
        }

        @*@if ((await AuthorizationService.AuthorizeAsync(User, "Manager")).Succeeded)
        {
            <li>
                <a asp-controller="Manager" asp-action="Projects"><div class="pull-left"><i class="zmdi zmdi-nature-people mr-20"></i><span class="right-nav-text">Projects</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

            </li>

            <li>
                <a asp-controller="Manager" asp-action="Reports"><div class="pull-left"><i class="zmdi zmdi-subway mr-20"></i><span class="right-nav-text">Reports</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>

        }

        @if ((await AuthorizationService.AuthorizeAsync(User, "AssDir")).Succeeded)
        {

            <li>
                <a asp-controller="AsstDirector" asp-action="Projects"><div class="pull-left"><i class="zmdi zmdi-nature-people mr-20"></i><span class="right-nav-text">Projects</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

            </li>

            <li>
                <a asp-controller="AsstDirector" asp-action="Reports"><div class="pull-left"><i class="zmdi zmdi-subway mr-20"></i><span class="right-nav-text">Reports</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>

        }

        @if ((await AuthorizationService.AuthorizeAsync(User, "DepDir")).Succeeded)
        {

            <li>
                <a asp-controller="DeptDirector" asp-action="Projects"><div class="pull-left"><i class="zmdi zmdi-nature-people mr-20"></i><span class="right-nav-text">Projects</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

            </li>

            <li>
                <a asp-controller="DeptDirector" asp-action="Reports"><div class="pull-left"><i class="zmdi zmdi-subway mr-20"></i><span class="right-nav-text">Reports</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>

        }*@
    </ul>
</div>