@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@await Html.PartialAsync("_LayoutHeader")
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
@await Html.PartialAsync("_ResellerLayoutAside")

<article class="content items-list-page">
    <div class="container-fluid">
        <div class="card">

            <div class="card-body">
                <table id="example" class="display">
                    <thead>
                       
                    </thead>

                    <tfoot>
                       
                    </tfoot>
                    <tbody>
                       
                    </tbody>


                </table>
            </div>

        </div>
    </div>
</article>
@await Html.PartialAsync("_LayoutFooter")