@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="container-fluid">
        <!-- Title -->
        <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h5 class="txt-dark">Document Repository</h5>
            </div>
            <!-- Breadcrumb -->
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="#"><span>ui-elements</span></a></li>
                    <li class="active"><span>sweetalert</span></li>
                </ol>
            </div>
            <!-- /Breadcrumb -->
        </div>
        <!-- /Title -->
        <!-- Row -->
        <div class="row">
           
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="panel panel-default card-view custom-card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Upstream Unit</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <button class="btn btn-sm btn-success custom-button">View Repository</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="panel panel-default card-view custom-card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Downstream Unit</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <button class="btn btn-sm btn-success custom-button">View Repository</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
     

         <!-- Row -->
         <div class="row">
             <div class="col-lg-3 col-md-6 col-xs-12">
                 <div class="panel panel-default card-view custom-card-view">
                     <div class="panel-heading">
                         <div class="pull-left">
                             <h6 class="panel-title txt-dark">SHE Unit</h6>
                         </div>
                         <div class="clearfix"></div>
                     </div>
                     <div class="panel-wrapper collapse in">
                         <div class="panel-body">
                             <button class="btn btn-sm btn-success custom-button">View Repository</button>
                         </div>
                     </div>
                 </div>
             </div>
         

         <div class="col-lg-3 col-md-6 col-xs-12">
             <div class="panel panel-default card-view custom-card-view">
                 <div class="panel-heading">
                     <div class="pull-left">
                         <h6 class="panel-title txt-dark">Procurement Unit</h6>
                     </div>
                     <div class="clearfix"></div>
                 </div>
                 <div class="panel-wrapper collapse in">
                     <div class="panel-body">
                         <button class="btn btn-sm btn-success custom-button">View Repository</button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
            
  </div>
        <!-- /Row -->

   

 

<!-- /Main Content -->
	
    @await Html.PartialAsync("_LayoutFooter")
