@{
    ViewData["Title"] = "Assigned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">

    <div class="col-sm-12">


        <br />

        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">

                <div class="panel-body">

                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="example" class="table table-hover display  pb-30">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Project Id</th>
                                        <th>Published</th>
                                        <th>Project Cost</th>
                                        <th>Document Link</th>
                                        @*<th>Date Updated</th>*@
                                        <th>Division</th>
                                        <th>Category</th>
                                        @*<th>Phase</th>*@
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Project Id</th>
                                        <th>Published</th>
                                        <th>Project Cost</th>
                                        <th>Document Link</th>
                                        @*<th>Date Updated</th>*@
                                        <th>Division</th>
                                        <th>Category</th>
                                        @*<th>Phase</th>*@
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>MISTDO Portal Dev.</td>
                                        <td>ASP63GB</td>
                                        <td>22-6-19</td>
                                        <td>22,000,000.00</td>
                                        <td><a href="#">www.managementportal.com.ng</a></td>
                                        @*<td>27-6-19</td>*@
                                        <td>Downstream</td>
                                        <td>Internal Memo</td>
                                        @*<td>Planning</td>*@
                                        <td>Active</td>
                                        <td><a class="btn btn-primary" asp-action="ViewDetails" asp-controller="Admin"> View Details</a></td>
                                        <td><button class="btn btn-danger">Delete</button></td>

                                    </tr>

                                    <tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />

<br />