@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Html.PartialAsync("_LayoutHeader")
<!-- ============================================================== -->
<!-- End Topbar header --> 
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
@await Html.PartialAsync("_ResellerLayoutAside")



<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">

        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Project Category</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row">
                    <div class="">
                        <div class="pl-15 pr-15 mb-15">
                            <div class="pull-left">
                                <i class="zmdi zmdi-collection-folder-image inline-block mr-10 font-16"></i>
                                <span class="inline-block txt-dark"><a asp-area="" asp-controller="Reports" asp-action="ProjectRevenue">Project Revenue</a></span>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <hr class="light-grey-hr mt-0 mb-25" />
                        <div class="pl-15 pr-15 mb-15">
                            <div class="pull-left">
                                <i class="zmdi zmdi-collection-folder-image inline-block mr-10 font-16"></i>
                                <span class="inline-block txt-dark"><a asp-area="" asp-controller="Reports" asp-action="ProjectSegmentation">Project Segmentation</a></span>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                        @await Html.PartialAsync("_LayoutFooter")
