@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="page-container">
    <!-- Header START -->
    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">

                        <li><a>Configuration</a></li>
                        <li><a class="active">Order Reports</a></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
                <div class="dt-buttons">
                    <a class="dt-button buttons-csv buttons-html pull-right" tabindex="0" aria-controls="example" href="#"><span>Add Methodology</span></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-sm-12">

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">

                            <br />

                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <table id="datable_1" class="table table-hover display  pb-30">
                                                <thead>


                                                    <tr>
                                                        <th>
                                                            ALL METHODOLOGIES
                                                        </th>



                                                        <th>
                                                            ACTIONS
                                                        </th>
                                                    </tr>



                                                </thead>
                                                <tfoot>

                                                </tfoot>
                                                <tbody>

                                                    <tr>
                                                        <td></td>
                                                        <td></td>

                                                        <td>


                                                            <a asp-action="Details" asp-route-id=""><i class="ti-layers text-warning" rel="tooltip" title="Details"></i></a>

                                                            <div>

                                                            </div>

                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>
<br />
<br />
<br />
<br />

<br /><br />
<br />
<br />
<br />

<br /><br />
<br />
<br />
<br />

<br /><br />
<br />
<br />
<br />

<br /><br />
<br />
<br />
<br />

<br />


