
@{
    ViewData["Title"] = "ViewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-sm-12">

        @*<div>
            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddInternalProject"> Add New </a>
        </div>*@
        <br />

        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1">
                            <h4>Tasks</h4>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddInternalProject"> Add New </a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddInternalProject"> Gantt Chart </a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddInternalProject"> Classic View </a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddInternalProject"> Kanban </a>
                        </div>
                    </div>




                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="example" class="table table-hover display  pb-30">
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>task Summary</th>
                                        <th>project</th>
                                        <th>Assigned To</th>
                                        <th>Stage</th>
                                        @*<th>Date Updated</th>*@
                                        <th>Cost %</th>
                                        <th>Starting Date</th>
                                        <th>Ending Date</th>
                                        <th>Progress</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Group</th>
                                        <th>task Summary</th>
                                        <th>project</th>
                                        <th>Assigned To</th>
                                        <th>Stage</th>
                                        @*<th>Date Updated</th>*@
                                        <th>Cost %</th>
                                        <th>Starting Date</th>
                                        <th>Ending Date</th>
                                        <th>Progress</th>

                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Analysis</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a href="#"></a></td>
                                        @*<td>27-6-19</td>*@
                                        <td></td>
                                        <td></td>
                                        @*<td>Planning</td>*@
                                        <td></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>MISTDO Protal Dev</td>
                                        <td>DBAS</td>
                                        <td>Demo User</td>
                                        <td>Analysis</td>
                                        @*<td>31-5-19</td>*@
                                        <td>2%</td>
                                        <td>09-01-2019</td>
                                        @*<td>Development</td>*@
                                        <td>09-01-2019</td>
                                        <td>20%</td>
                                    </tr>

                                    <tr>
                                        <td>Specification</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a href="#"></a></td>
                                        @*<td>27-6-19</td>*@
                                        <td></td>
                                        <td></td>
                                        @*<td>Planning</td>*@
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>MISTDO Protal Dev</td>
                                        <td>DBAS</td>
                                        <td>Demo User</td>
                                        <td>Specification</td>
                                        @*<td>31-5-19</td>*@
                                        <td>10.3%</td>
                                        <td>09-01-2019</td>
                                        @*<td>Development</td>*@
                                        <td>09-01-2019</td>
                                        <td>40%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
